body {
  margin: 0;
  padding: 0px; }

/* nav styles */
nav li {
  display: inline-block;
  margin-top: 10%;
  margin-left: 15%;
  font-size: 200%; }

nav ul {
  display: none; }

nav a {
  color: #ffc300; }

nav h1 {
  margin-top: 10%;
  margin-left: 35%;
  font-size: 400%;
  color: wheat;
  text-shadow: 4px 4px black;
  opacity: 1; }

nav img {
  width: 50%;
  height: 100px; }

nav {
  background-color: black;
  height: 800px;
  background-image: url("https://www.toysrus.com.sg/www/4000/files/pageheader-marvelavengers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  border-style: groove;
  border-width: 0.1px;
  margin: 0; }

/* sign in styles */
#buttonOne {
  margin-left: 90%;
  margin-top: 1%; }

.signOrLog {
  background-color: #334b99;
  padding: 1%; }

/* latest post div */
div.latestPost {
  margin: 5%;
  margin-left: 10%;
  border-style: groove;
  border-width: 2px;
  height: 550px;
  width: 80%; }

div.latestPost img {
  width: 100%;
  /* margin-left: 20%; */
  height: 600px; }

div.latestPost p {
  font-size: 150%;
  padding-left: 10%;
  padding-right: 10%; }

div.latestPost h1 {
  text-align: center; }

div.latestPost {
  color: #334b99;
  height: auto; }

div.latestPost q {
  float: right;
  margin-right: 4%;
  font-size: 100%; }

div.latestPost button {
  margin: 5%;
  font-size: 125%;
  border: none;
  background-color: transparent; }

div.latestPost button:hover a {
  color: red; }

div.latestPost button a {
  text-decoration: none;
  color: #334b99; }

/* header */
div.header {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #334b99;
  color: white;
  height: 100px; }

div.header h1 {
  margin-left: 41%;
  padding-top: 2%; }

/* sign or log */
.buttonOne {
  font-size: 150%;
  margin-left: 85%;
  margin-top: 1%;
  margin-bottom: 1%; }

.buttonTwo {
  font-size: 150%; }

.signOrLog button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white; }

.signOrLog span {
  color: red;
  display: inline-block; }

.signOrLog button:hover {
  color: red; }

.signOrLog {
  background-color: #334b99;
  padding: 1%; }

/* body styles */
body {
  margin: 0;
  padding: 0px; }

/* nav styles */
nav li {
  display: inline-block;
  margin-top: 10%;
  margin-left: 15%;
  font-size: 200%; }

nav ul {
  margin-top: 15%;
  margin-left: -5%;
  color: white; }
  nav ul li a {
    color: silver;
    text-decoration: none;
    text-shadow: 4px 4px black;
    font-size: auto;
    transition: font-size .5s; }
  nav ul li a:hover {
    color: #334b99;
    font-size: 120%; }

nav a {
  color: #ffc300; }

nav h1 {
  margin-top: 20%;
  margin-left: 10%;
  font-size: 500%;
  color: wheat;
  text-shadow: 4px 4px black;
  opacity: 1; }

nav img {
  width: 50%;
  height: 100px; }

nav {
  background-color: black;
  height: 800px;
  background-image: url("../../images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  border-style: groove;
  border-width: 0.1px;
  margin: 0; }

/* latest post div */
div.latestPost {
  margin: 5%;
  margin-left: 30%;
  border-style: groove;
  border-width: 2px;
  height: 550px;
  width: 40%; }

div.latestPost h1 {
  text-align: center; }

div.latestPost img {
  width: 100%;
  /* margin-left: 20%; */
  height: 400px; }

div.latestPost p {
  font-size: 150%;
  padding-left: 10%;
  padding-right: 10%; }

div.latestPost {
  color: #334b99;
  height: auto; }

div.latestPost q {
  float: right;
  margin-right: 4%;
  font-size: 100%;
  color: red; }

div.latestPost button {
  /* margin: 5%; */
  font-size: 125%;
  border: none;
  background-color: transparent;
  display: inline-block; }

div.latestPost button:hover a {
  color: red; }

div.latestPost button a {
  text-decoration: none;
  color: #334b99; }

div.buttons {
  margin: 5%; }

/* header */
div.header {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #334b99;
  color: white;
  height: 100px; }

div.header h1 {
  margin-left: 41%;
  padding-top: 3%; }

/* sign or log */
.buttonOne {
  font-size: 150%;
  margin-left: 85%;
  margin-top: 1%;
  margin-bottom: 1%; }

.buttonOne a {
  text-decoration: none;
  color: white; }

.buttonOne a:hover {
  color: red; }

.buttonTwo {
  font-size: 150%; }

.buttonTwo a {
  text-decoration: none;
  color: white; }

.buttonTwo a:hover {
  color: red; }

.signOrLog button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white; }

.signOrLog span {
  color: red;
  display: inline-block; }

.signOrLog button:hover {
  color: red; }

.signOrLog {
  background-color: #334b99;
  padding: 1%; }

footer {
  height: 400px;
  width: 100%;
  background-color: black;
  margin-top: 10%; }
  footer img {
    width: 25%;
    margin-left: 37.5%; }
  footer h1 {
    text-align: center;
    color: white;
    font-size: 350%; }

/*# sourceMappingURL=view.css.map */
