<!DOCTYPE html>
<html>
  <head>
    <title>New Post</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- stylesheet(s) -->
      <link rel='stylesheet' href='/stylesheets/css/new_post.css' />

    <!-- include libraries(jQuery, bootstrap) -->
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 

    <!-- include summernote css/js -->
      <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>


      <style>
        body {
        margin: 0;
        padding: 0px;
      }
      /* nav styles */
      nav li {
        display: inline-block;
        margin-top: 10%;
        margin-left: 15%;
        font-size: 200%;
      } 

      nav ul {
        /* display: none; */
      }

      nav a {
        color: #ffc300;
      }
      
      nav h1 {
        margin-top: 10%;
        margin-left: 37%;
        font-size: 400%;
        color: wheat;
        text-shadow: 4px 4px black;
        opacity: 1;
      }

      nav img {
        width: 50%;
        height: 100px;
      }
      nav {
        background-color: black;
        height: 800px;
        background-image: url('https://www.toysrus.com.sg/www/4000/files/pageheader-marvelavengers.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
        border-style: groove;
        border-width: 0.1px;
        margin: 0;
      }

      /* sign or log */

      .buttonOne{
        font-size: 150%;
        margin-left: 85%;
        margin-top: 1%;
        margin-bottom: 1%;
      }

      .buttonTwo{
        font-size: 150%;
      }

      .signOrLog button {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
      }
      
      .signOrLog span {
        color: red;
        display: inline-block;
      }

      .signOrLog button:hover {
        color: red;
      }

       
      .signOrLog {
        background-color: rgb(51, 75, 153);
        padding: 1%;
      }
      
      /* header */

      div.header {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        background-color: rgb(51, 75, 153);
        color: white;
        height: 100px;
      }

      div.header h1 {
        text-align: center;
        padding-top: 3%;
      }
      
      form {
        width: 80%;
        margin-left: 10%;
        border-style: groove;
        border-width: .5%;
      }
      form div label{

        margin-left: 45%;
        margin-top: 5%;
      }

      form div input {
        margin-left: 40%;
      }

      input::-webkit-input-placeholder {
          text-align: center;
      }

      input {
          margin: 1%;
      }

      

        </style>

  </head>
  <body>
      
    <!-- navbar -->
    <nav>
        <ul style="display: none">
          <li> <a href="/">Home</a></li>
          <li> <a href="/create">Create</a> </li>
          <li> <a href="/archieve">Archieve</a> </li>
          <li> <a href="">Contact</a> </li>
        </ul>
        <!-- <img src="../public/images/avenger-logo.png" alt=""> -->
        <h1>THE AVENGER</h1>
      </nav>

  
      <div class="header">
        <h1>Log In!</h1>
      </div>

      <!-- form for input -->
      <form method="POST" action="" style="margin-bottom: 10%">

        

        <div >
          <label for="exampleInputName">Name</label><br>
          <input type="text" class="" aria-describedby="heroName" placeholder="Name" name="name" id="titleInput">
        </div> 

        <div >
            <label for="exampleInputName">Email</label><br>
            <input type="text" class=""  aria-describedby="heroName" placeholder="E-mail" name="email" id="authorInput">
        </div>

        <div >
            <label for="exampleInputURL">Password</label><br>
            <input type="text" class="" placeholder="Password" name="password">
        </div>


        <button style="margin-left: 45%;margin-top:5%;margin-bottom: 5%;background-color: transparent;border: none;color: rgb(51, 75, 153)" type="submit"> Sign Up! </button><br>

        <button style="margin-left: 45%;background-color: transparent;border: none;margin-top: 0;margin-bottom: 5%;"> <a href="/" style="text-decoration: none" onclick="">maybe later</a> </button>

        <script>
          // function verifySignUp(){
          //   alert('Congratulations,you have successfully sign up to "The Avenger"')
          // }
        </script>
        

        

    </form>

  </body>
</html>