<!DOCTYPE html>
<html>
  <head>
    <title>New Post</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- stylesheet(s) -->
      <link rel='stylesheet' href='/stylesheets/css/new_post.css' />

    <!-- include libraries(jQuery, bootstrap) -->
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 

    <!-- include summernote css/js -->
      <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>


      
    <link rel='stylesheet' href='/stylesheets/css/signUp.css'/>


  </head>
  <body>
      
    <!-- navbar -->
    <nav>
        <h1>THE AVENGER</h1>
        <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="/create">Create</a> </li>
          <li> <a href="/archieve">Archieve</a> </li>
          <!-- <li> <a href="">Contact</a> </li> -->
        </ul>
        <!-- <img src="../public/images/avenger-logo.png" alt=""> -->
        
      </nav>

  
      <div class="header">
        <h1>Sign Up!</h1>
      </div>

      <!-- form for input -->
      <form method="POST" action="" style="margin-bottom: 10%">

        

        <div >
          <label for="exampleInputName">Name</label><br>
          <input type="text" class="" aria-describedby="heroName" placeholder="Name" name="name" id="titleInput">
        </div>

        <div >
            <label for="exampleInputName">Email</label><br>
            <input type="text" class=""  aria-describedby="heroName" placeholder="E-mail" name="email" id="authorInput">
        </div>

        <div >
            <label for="exampleInputURL">Password</label><br>
            <input type="text" class="" placeholder="Password" name="password">
        </div>


        <button style="margin-left: 45%;margin-top:5%;margin-bottom: 5%;background-color: transparent;border: none;color: rgb(51, 75, 153)" type="submit"> Sign Up! </button><br>

        <button style="margin-left: 45%;background-color: transparent;border: none;margin-top: 0;margin-bottom: 5%;"> <a href="/" style="text-decoration: none" onclick="">maybe later</a> </button>

        

        
        

        

    </form>

    <footer>

        <img src="/images/footer-image.png" alt="">
        <h1>THE AVENGER &#169;</h1>
    </footer>

    <script>
        // function verifySignUp(){
        //   alert('Congratulations,you have successfully sign up to "The Avenger"')
        // }
      </script>

  </body>
</html>