/* body styles */
body {
    margin: 0;
    padding: 0px;
  }

  /* nav styles */
  nav li {
    display: inline-block;
    margin-top: 10%;
    margin-left: 15%;
    font-size: 200%;
  } 

  // nav lists
  nav ul {
    margin-top: 15%;
    margin-left: -5%;
    color: white;

    // lists
    li {

      // link
        a {
            color: silver;
            text-decoration: none;
            text-shadow: 4px 4px black;
            font-size: auto;
            transition: font-size .5s;
        }

        // hover effect
        a:hover {
            color: #334b99;
            font-size: 120%;
            text-decoration: none;
        }
    }
  }

  // nav link
  nav a {
    color: #ffc300;
  }
  
  // nav header
  nav h1 {
    margin-top: 20%;
    margin-left: 10%;
    font-size: 500%;
    color: wheat;
    text-shadow: 4px 4px black;
    opacity: 1;
  }

  // nav image
  nav img {
    width: 50%;
    height: 100px;
  }

  // entire nav targeted
  nav {
    background-color: black;
    height: 800px;
    // /stylesheets/index.css
    background-image: url('../../images/header-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border-style: groove;
    border-width: 0.1px;
    margin: 0;
  }

 
  
  /* latest post div */
  div.latestPost {
    margin: 5%;
    margin-left: 30%;
    border-style: groove;
    border-width: 2px;
    height: 550px;
    width: 40%;
  }

  // latest header
  div.latestPost h1 {
    text-align: center;
    
  }

  // latest image
  div.latestPost img {
    width: 100%;
    /* margin-left: 20%; */
    height: 400px;
  }

  // latest blog paragraph
  div.latestPost p {
    font-size: 150%;
    padding-left: 10%;
    padding-right: 10%;
  }

  // latest post
  div.latestPost {
    color: rgb(51, 75, 153);
    height: auto;
  }

  // latest quote
  div.latestPost q {
    float: right;
    margin-right: 4%;
    font-size: 100%;
    color: red;
  }

// button latest post
  div.latestPost button{
    /* margin: 5%; */
    font-size: 125%;
    border: none;
    background-color: transparent;
    display: inline-block;
  }

  // hover effect
  div.latestPost button:hover a{
    color: red;
  }

  // button link
  div.latestPost button a {
    text-decoration: none;
    color: rgb(51, 75, 153);
  }

  // buttons all targeted
  div.buttons {
    margin: 5%;
  }

  /* header */

  div.header {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: rgb(51, 75, 153);
    color: white;
    height: 100px;
  }

  // div header 1
  div.header h1 {
    margin-left: 41%;
    padding-top: 3%;
  }

  /* sign or log */

  // first button
  .buttonOne{
    font-size: 150%;
    margin-left: 85%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  // button link
  .buttonOne a {
    text-decoration: none;
    color: white;
  }

  // hover effect
  .buttonOne a:hover {
    color: red;
  }

  // button two
  .buttonTwo{
    font-size: 150%;
  }
// button two link
  .buttonTwo a {
    text-decoration: none;
    color: white;
  }

  // button two hover link
  .buttonTwo a:hover {
    color: red;
  }

  // sign and log button
  .signOrLog button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
  }
  
  // sign and log button
  .signOrLog span {
    color: red;
    display: inline-block;
  }

  // hover effect
  .signOrLog button:hover {
    color: red;
  }

  //  sign and log targeted
  .signOrLog {
    background-color: rgb(51, 75, 153);
    padding: 1%;
  }

  // form targeted
  form {
    width: 80%;
    margin-left: 10%;
    border-style: groove;
    border-width: .5%;
  }

  // form label
  form div label{

    margin-left: 45%;
    margin-top: 5%;
  }

  // form input
  form div input {
    margin-left: 40%;
  }

  // input placeholder targeted and stles
  input::-webkit-input-placeholder {
      text-align: center;
  }

  // input
  input {
      margin: 1%;
  }

  // footer 

  footer {
    height: 400px;
    width: 100%;
    background-color: black;
    margin-top: 10%;
    // background-image: url("../../images/footer-image.png");
    // background-size: cover;
    // background-repeat: no-repeat;

    // footer image
    img {
        width: 25%;
        margin-left: 37.5%;
    }

    // footer header
    h1 {
        text-align: center;
        color: white;
        font-size: 350%;
    }
}